body {
    background-color: black;
}

.row {
    justify-content: center;
    text-align: left;
}

.col-md-12 {
    text-align: center;
}

.container {
    margin-bottom: 2rem;
    border-top: 1px solid gray;
    padding-top: 1rem;
}