/* NavBar */
.nav-holder {
  background-color: rgb(128,128,128);
  padding: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
}
.nav-link {
  background-color: rgb(46, 44, 44);
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}
.nav-link:hover {
  opacity: 0.7;
}

@media (max-width: 300px) {
  .nav-holder {
    padding: 0;
  }
  .nav-links {
    flex-direction: column;
  }
  .nav-link {
    margin: 0.2rem;
  }
}
@media (max-width: 600px) {
  .nav-link {
    margin: 0.2rem;
  }
}
@media (max-width: 570px) {
  .nav-links {
    flex-direction: column;
  }
}
